<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <a href="#"><img class="img-fluid w-100" src="../assets/Template.jpg" alt="First Slide" style="height:350px;">
            <div class="carousel-caption d-none d-md-block">
                <h5>News 1</h5>
                <p>short intro</p>
              </div>
        </a>
      </div>
      <div class="carousel-item">
        <a href="#"><img class="img-fluid w-100 " src="../assets/Template2.jpg" alt="Second Slide" style="height:350px;">
            <div class="carousel-caption d-none d-md-block">
                <h5>New 2</h5>
                <p>short intro</p>
              </div>
        </a>
      </div>
      <div class="carousel-item">
        <a href="#"><img class="img-fluid w-100 " src="../assets/Template3.jpg" alt="Third Slide" style="height:350px;">
            <div class="carousel-caption d-none d-md-block">
                <h5>News 3</h5>
                <p>short intro</p>
              </div>
        </a>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
</div>
