<div class = "wrapper">
<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">

    <button class="navbar-toggler" data-toggle="collapse" data-target="#menu">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="menu">

    <a class="navbar-brand"><img src="../assets/UTS Logo.png" style="height: 59px; width: 100px; margin-bottom: 5px;"></a>
    <span class="navbar-text"></span>
    <ul class="navbar-nav">
        <li class="nav-item dropdown">
            <a class="nav-link"  href="https://www.uts.edu.au/study">Apply and Enrol</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://www.handbook.uts.edu.au/general/index.html">General Information</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://www.handbook.uts.edu.au/dates.html">Priciple Dates</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://www.handbook.uts.edu.au/dates_academic.html">Acadmic Year Dates</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://www.handbook.uts.edu.au/directory/index.html">Study Package Direct</a>
        </li>
    </ul>
    </div>
</nav>
</div>
