<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<mat-divider inset></mat-divider>
<div class = "container">
<div class = "cards">
  <a class = "first_card" href="https://www.uts.edu.au/">
    <mat-card class="card">
        <mat-card-title>UTS Website</mat-card-title>
        <mat-card-content>
            <p>Visit UTS website for more information </p>
        </mat-card-content>
        <mat-divider inset></mat-divider>
        <mat-card-actions>
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </mat-card-actions>
    </mat-card>
  </a>
  <a class = "second_card" href="https://www.handbook.uts.edu.au/how_to_use.html">
    <mat-card class="card">
        <mat-card-title>Handbook Manual</mat-card-title>
        <mat-card-content>
            <p>Essential reading on handbook guidance</p>
        </mat-card-content>
        <mat-divider inset></mat-divider>
        <mat-card-actions>
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </mat-card-actions>
    </mat-card>
  </a>
  <a class = "third_card" href="https://www.handbook.uts.edu.au/dates.html">
    <mat-card class="card">
        <mat-card-title>Priciple Dates</mat-card-title>
        <mat-card-content>
            <p>Key dates from UTS Academic Calender</p>
        </mat-card-content>
        <mat-divider inset></mat-divider>
        <mat-card-actions>
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </mat-card-actions>
    </mat-card>
  </a>
</div>