<app-header></app-header>
<div class = "topcolorbar"  style = "height:300px"><app-searchbar></app-searchbar></div>
  <div class="container">  
    <div class = "topspace" style = "font-size: 2em; font-weight: bold; margin-top: 30px; height:50px">Browse</div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-sm-offset-1 col-md-offset-2">
          <ul class="nav nav-tabs">
            <li class="nav-item" role="presentation" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
              <a class="nav-link active" data-toggle="tab" routerLink="/">Subject List</a>
            </li>
            <li class="nav-item" role="presentation" routerLinkActive="active">
              <a class="nav-link" data-toggle="tab" routerLink="/undergraduate">Undergraduate Courses</a>
            </li>
            <li class="nav-item" role="presentation" routerLinkActive="active">
              <a class="nav-link" data-toggle="tab" routerLink="/postgraduate">Postgraduate Courses</a>
            </li>
          </ul>
          <router-outlet></router-outlet>
          <app-bottom></app-bottom>
        </div>
      </div>
  </div>
  <div class="container"> 
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-sm-offset-1 col-md-offset-2">
        <app-news></app-news>
      </div>
    </div>
  </div>
<app-footer></app-footer>




    


